.breadcrumbs {
	background-color: inherit;
	display: flex;
	align-items: center;
	color: $highlighted-text-color;
	
	h4 {
		color: inherit;
		margin-bottom: 0;
	}

	.breadcrumb {
		margin: 0 !important;
		padding: 0;
		background-color: inherit;
		color: inherit;

		.breadcrumb-item>a {
			color: inherit;
			font-size: 1rem;
			font-weight: 500;
		}
	}
}

@media screen and (max-width: 1024px) {
	.breadcrumbs {
		display: inline-block;
		text-align: left;
		margin: auto 0;
		h4 {
			font-size: 20px;
			display: inline-block;
			text-align: left;
		}
		nav {
			display: inline-block;
		}
	}
}

@media screen and (max-width: 768px) {
	.breadcrumbs {
		margin: auto 0 0;
	}
}

@media screen and (max-width: 768px) {
	.breadcrumbs {
		display: inline-block;
		text-align: left;

		h4 {
			display: inline-block;
			text-align: left;
		}

		nav {
			display: inline-block;
		}
	}
}

@media screen and (max-width: 500px) {
	.breadcrumbs {
		h4 {
			font-size: 18px;
		}
		nav {
			.breadcrumb-item a{
				font-size: 14px;
			}
		}
	}
}
