@import "../constants/index.scss";

:root[data-theme="theme-light"] {
	--box-shadow-card-color: rgba(206, 211, 243, 0.5);
}

:root[data-theme="theme-dark"] {
	--box-shadow-card-color: #030931;
}

$box-shadow-card-color: var(--box-shadow-card-color);

.card {
	border: 1px solid $border-color;
	border-radius: 8px;
	box-shadow: 0 1px 20px -4px $box-shadow-card-color;
	background-color: $bg-color;
	.card-header {
		border-bottom: none;
		background-color: $bg-color;
		color: $text-color;
		border-radius: 8px 8px 0 0;
		padding: 0;
		display: flex;
		justify-content: space-between;
    	min-height: 50px;
		flex-wrap: wrap;
		.card-header-title {
			color: $text-secondary-color;
			font-family: 'Arial';
			font-style: normal;
			font-weight: 700;
			font-size: 1rem;
			line-height: 50px;
			margin: auto 1.25rem;
			height:  50px;
			[class^="cil-"], [class*=" cil-"] {
				color: $primary;
				font-weight: 700;
			}
		}
		.btn-group {
			padding: 0;
			margin-left: auto;
			// flex-wrap: wrap;
			border-radius: 0 8px 0 0;
			&:last-child {
				border-radius: 0 8px 0 0;
			}
			.btn {
				white-space: nowrap;
				&:last-child {
					border-radius: 0 7px 0 0;
				}
			}
		}
		.input-group{
			padding: 8px;
			// max-width: 250px;
		}
	}
	.card-body {
		background-color: $bg-color;
		color: $text-color;
		border-radius: 8px;
		flex: 1 1 auto;
    	min-height: 1px;
    	padding: 1.25rem;

		& .card-body-row {
			padding: 8px 0;

			&:last-child{
				padding-bottom: 0;
			}
			&:first-child {
				padding-top: 0;
			}
		}
	}
	.card-footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		min-height: 50px;
		background-color: $bg-color;
		color: $text-color;
		padding: 0;
		border-radius: 0 0 8px 8px;
		border-top: 1px solid $border-color;
		.btn-group {
			flex-wrap: wrap;
			.btn:first-child {
				border-radius: 0 0 0 7px;
			}
		}
	}
}

.border-bottom {
	border-bottom: 1px solid $border-color !important;
}

.border-top {
	border-top: 1px solid $border-color !important;
}
