@import "../constants/index.scss";

:root[data-theme="light"] {
	--box-shadow-card-color: rgba(206, 211, 243, 0.5);
}

:root[data-theme="dark"] {
	--box-shadow-card-color: #030931;
}

$box-shadow-card-color: var(--box-shadow-card-color);

.card {
	border: 1px solid $border-color;
	border-radius: 8px;
	box-shadow: 0 1px 20px -4px $box-shadow-card-color;
	background-color: $bg-color;
	&-subtitle {
		margin-top: -1.5rem;
	}
	.card-header {
		border-bottom: none;
		background-color: $bg-color;
		color: $text-color;
		border-radius: 8px 8px 0 0;
		padding: 0;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		box-sizing:content-box;
		& h3 {
			margin: auto 1.25rem;
		}
		.card-header-title {
			color: $text-secondary-color;
			font-style: normal;
			font-weight: 500;
			font-size: 1rem;
			margin: auto 1.25rem;
			padding: 13px 0;
			min-height:  50px;
			[class^="cil-"], [class*=" cil-"] {
				color: $primary;
				font-weight: 700;
			}
			display: flex;
			align-items: center;
			h3 {
				margin: auto;
			}
			.card-subtitle {
				padding: 0 0.5rem;
			}
		}
		.btn:last-child {
			border-radius: 0 8px 0 0;
		}
		.btn-group {
			padding: 0;
			margin-left: auto;
			// flex-wrap: wrap;
			border-radius: 0 8px 0 0;
			&:last-child {
				border-radius: 0 8px 0 0;
			}
			div:last-child .btn {
				white-space: nowrap;
				&:last-child {
					border-radius: 0 7px 0 0;
				}
			}
			.btn:last-child {
				border-radius: 0 8px 0 0;
			}
			.data-table-button .dropdown .dropdown-header {
				padding: 0.5rem 0.75rem;
			}
		}
		.input-group{
			padding: 9.5px 8px;
			// max-width: 250px;
		}
	}
	.card-header-login {
		min-height: 80px;
		text-align: center;
		// color: $text-secondary-color !important;
		.card-header-title {
			margin: 0.25rem auto;
			padding: 0;
			height: auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			h1 {
				color: $text-color;
				font-size: 2.2rem;
				margin-bottom: 0;
			}
			h2 {
				margin-bottom: 0;
			}
			& p.card-subtitle {
				color: inherit;
				font-weight: 300 ;
				font-size: 16px;
				line-height: 28px;
				margin-top: 0;
			}
		}
	}
	.card-body {
		background-color: $bg-color;
		color: $text-color;
		border-radius: 8px;
		flex: 1 1 auto;
    	min-height: 1px;
    	padding: 1.25rem;

		& .card-body-row {
			padding: 8px 0;

			&:last-child{
				padding-bottom: 0;
			}
			&:first-child {
				padding-top: 0;
			}
		}
	}
	.card-footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		min-height: 50px;
		background-color: $bg-color;
		color: $text-color;
		padding: 0;
		border-radius: 0 0 8px 8px;
		border-top: none;
		.btn:first-child:not(.dropdown-toggle) {
			border-radius: 0 0 0 7px;
		}
		.btn-group {
			flex-wrap: wrap;
			.btn:first-child {
				border-radius: 0 0 0 7px;
			}
			& + div.actions-right {
				display: flex;
				flex-wrap: wrap;
				& .btn {
					border-radius: 0 0 0 0;
				}
				& .btn:last-child{
				border-radius: 0 0 7px 0;
				}
			}
		}
		.dropdown {
			.dropdown-toggle {
				padding: 12px 24px;
				border-radius: 0 0 7px 0;
			}
		}
		.data-table-pagination, .data-table-limit {
			.dropdown {
				.dropdown-toggle {
					padding: 8px;
					border-radius: 0;
				}
			}
		}
		&>.data-table-pagination {
			margin-left: auto;
			&>.dropdown {
				&>button{
					min-width: 50px;
					font-size: 14px;
				}
				&>.dropdown-menu.show{
					min-width: 50px;
					font-size: 14px;
				}
			}
		}
	}
}

.border-bottom {
	border-bottom: 1px solid $border-color !important;
}

.border-top {
	border-top: 1px solid $border-color !important;
}
