@import "../constants/index.scss";

:root[data-theme="light"] {
	--bg: var(--bg-color);
	--box-shadow-card-color: rgba(206, 211, 243, 0.5);
	--text-dropdown-color: var(--text-color);
	--toggle-bg: var(--gray);
	--toggle-text-color: var(--off-white);
}

:root[data-theme="dark"] {
	--bg: var(--light-blue);
	--box-shadow-card-color: #030931;
	--text-dropdown-color: var(--btn-txt);
	--toggle-bg: var(transparentize);
	--toggle-text-color: var(--night-blue);
}

$btn-secondary-hover-bg: var();
$dropdown-toggle-bg: var(--bg);
$box-shadow-card-color: var(--box-shadow-card-color);
$text-dropdown-color: var(--text-dropdown-color);
$toggle-bg: var(--toggle-bg);
$toggle-text-color: var(--toggle-text-color);


.dropdown-toggle {
	padding: 8px;
	// min-height: 30px;
	// background-color: $toggle-bg !important;
	color: $toggle-text-color;
	justify-content: center;
	& span {
		color: $toggle-text-color !important;
	}
}
.dropdown-menu {
	border-radius: 0;
	background-color: $dropdown-toggle-bg;
	color: $btn-txt;
	box-shadow: 0 1px 20px -4px $box-shadow-card-color;

	& .dropdown-item {
		&:hover {
			background-color: $dropdown-toggle-bg;
			filter: brightness(90%);
		}
	}
	& .dropdown-item span {
		color: $text-dropdown-color;
	}

	& .dropdown-header {
		color: $text-dropdown-color;
	}
}

.show > .btn-secondary.dropdown-toggle {
	background-color: $dropdown-toggle-bg !important;
	color: $text-color !important;
	&:focus, &:active {
		border: none;
		box-shadow: none;
	}
}

.show > .btn-outline-secondary.dropdown-toggle {
	color: $btn-secondary-bg-color !important;
	background-color: $btn-secondary-outline-hover-bg-color;
	[class^="cil-"] {
		color: $toggle-text-color !important;
	}
	&:focus, &:active {
		[class^="cil-"] {
			color: $btn-secondary-bg-color !important;
		}
	}
}
