@import "../constants/index.scss";

:root[data-theme="light"] {
	--bg: var(--bg-color);
	--box-shadow-card-color: rgba(206, 211, 243, 0.5);
	--text-dropdown-color: var(--text-color);
	--text-dropdown-button: var(--text-color);
	--toggle-bg: var(--gray);
	--toggle-text-color: var(--off-white);
}

:root[data-theme="dark"] {
	--bg: var(--light-blue);
	--box-shadow-card-color: #030931;
	--text-dropdown-color: var(--btn-txt);
	--text-dropdown-button-color: var(--light-dream-blue);
	--toggle-bg: var(transparentize);
	--toggle-text-color: var(--night-blue);
}

$dropdown-toggle-bg: var(--bg);
$box-shadow-card-color: var(--box-shadow-card-color);
$text-dropdown-color: var(--text-dropdown-color);
$text-dropdown-button-color: var(--text-dropdown-button-color);
$toggle-bg: var(--toggle-bg);
$toggle-text-color: var(--toggle-text-color);

.dropdown, .dropdown .btn {
	transition: none;
	&:focus {
		border: none;
	}
}

.dropdown-toggle {
	padding: 8px;
	color: $toggle-text-color;
	justify-content: center;
	& span {
		color: $toggle-text-color;
	}
	&:hover {
		& span {
			color: $primary;
		}
	}
}
.dropdown-menu {
	margin: 0;
	padding: 0;
	border-radius: 0;
	background-color: $dropdown-toggle-bg;
	color: $btn-txt;
	box-shadow: 0 1px 20px -4px $box-shadow-card-color;
	& .dropdown-header {
		font-weight: bold;
		border-bottom: 1px solid $border-color;
		padding: 1rem 1.5rem;
	}
	& .dropdown-item {
		padding: 0.5rem 1.5rem;
		&:hover, &:active {
			color: $text-dropdown-color;
		}
		&:hover {
			background-color: $dropdown-toggle-bg;
			filter: brightness(90%);
		}
	}
	& .dropdown-item span {
		color: $text-dropdown-color;
	}

	& .dropdown-header {
		color: $text-dropdown-color;
	}
}

.show > .btn-secondary.dropdown-toggle {
	background-color: inherit;
	//background-color: $dropdown-toggle-bg;
	color: $text-dropdown-button-color;
	&:focus, &:active {
		border: none;
		box-shadow: none;
	}
	[class^="cil-"] {
		color: inherit;
	}
}

.show > .btn-outline-secondary.dropdown-toggle {
	color: $btn-secondary-bg-color !important;
	background-color: $btn-secondary-outline-hover-bg-color;
	[class^="cil-"] {
		color: $toggle-text-color !important;
	}
	&:focus, &:active {
		[class^="cil-"] {
			color: $btn-secondary-bg-color !important;
		}
	}
}

.dropdown, .dropdown .btn {
	& .btn-secondary {
		background-color: inherit;
		color: $text-dropdown-button-color;
		& [class^="cil-"] {
			color: $text-dropdown-button-color;
		}
		&:hover {
			& span {
				color: $text-dropdown-button-color;
			}
		}
		&:active {
			& [class^="cil-"] {
				color: $btn-txt;
			}
		}
	}
}

.input-group {
	& .input-group-text {
		.dropdown-toggle.btn-secondary {
			background-color: inherit;
			//background-color: $dropdown-toggle-bg;
			color: $text-dropdown-button-color;
			& [class^="cil-"] {
				color: $text-dropdown-color;
			}
			&:hover {
				& span {
					color: $text-dropdown-button-color;
				}
			}
			&:active {
				& [class^="cil-"] {
					color: $btn-txt;
				}
			}
		}
		.show > .dropdown-toggle, .dropdown-toggle, .dropdown-toggle:active {
			border: 1px solid $border-color;
			border-right: none;
			background-color: var(--btn-secondary-bg-color);
			color: var(--btn-txt);
		}
	}
}