:root[data-theme="light"] {
	--input-bg: var(--white);
	--input-text: var(--feather-gray);
    --input-border: var(--light-gray);
}
:root[data-theme="dark"] {
	--input-bg: var(--dream-blue);
	--input-text: var(--light-dream-blue);
    --input-border: var(--night-blue);
}

$input-bg: var(--input-bg);
$input-text: var(--input-text);
$input-border: var(--input-border);

.form-control {
    //box-shadow: 0px 2px 3px -1px $light;
    box-shadow: 0 2px 3px -1px $beige-gray;
    border: 1px solid $border-color;
    border-radius: 2px;
    background-color: $input-bg;
    color: $input-text;
    transition: none;
    &:focus {
        background-color: $input-bg;
        color: $input-text;
        border-color: $border-color;
        box-shadow: none;
    }

    &::placeholder {
        color: $input-text;
        opacity: 1;
      }
}

.form-control:read-only {
    box-shadow: 0px 2px 3px -1px $light;
    border: 1px solid $border-color;
    border-radius: 2px;
    background-color: $input-bg;
    color: $text-color;
}

.input-group {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    &-text {
        background-color: $input-bg;
        border: 1px solid $border-color;
        box-shadow: 0 2px 3px -1px $light;
        color: $input-text;
    }
    &-addon {
        display: flex;
        vertical-align: middle;
        white-space: nowrap;
    }
}

html[data-theme="dark"] {
    .form-control{
        box-shadow: 0 2px 3px -1px rgba(142, 142, 142, 0.2);
    }
    .input-group-text {
        box-shadow: 0 2px 3px -1px rgba(142, 142, 142, 0.2);
    }
}