@import "../constants/index.scss";

.form-control {
    box-shadow: 0px 2px 3px -1px $light;
    border: 1px solid $border-color;
    border-radius: 2px;
    background-color: $input-bg;
    color: $input-text;
    
    &:focus {
        background-color: $input-bg;
        color: $input-text;
        border-color: $border-color;
    }

    &::placeholder {
        color: $input-text;
        opacity: 1;
      }
}

html[data-theme="theme-dark"] {
    .form-control{
        box-shadow: 0px 2px 3px -1px rgba(142, 142, 142, 0.2);
    }
}