$toggle-text-color: var(--toggle-text-color);
$sidebar-width: 200px;
$collapsed-sidebar-width: calc(50px + 1rem);
$sidebar-bg: var(--bg-color-dark);
$sidebar-item-width: 150px;
$collapsed-sidebar-item-width: 50px;
$sidebar-item-height: 50px;
$sidebar-item-radius: 12px;
$sidebar-item-font-size: 14px;

.app-sidebar {
	margin-left: 0;
	margin-right: 1rem;
	width: $sidebar-width;
	transition: margin-left 0.25s ease-out, width .2s ease-out;
	height: 100vh;
	display: flex;
	flex-direction: column;
	padding: 0;
	color: #fff;
	background-color: $sidebar-bg;
	flex: 0 0 100px;
	order: -1;

	.btn:hover {
		filter: none;
	}

	.sidebar-nav {
		position: relative;
		margin: 0 0.5rem;
		flex: 1;
		overflow: hidden;
		touch-action: auto;
		overflow-anchor: none;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		.nav {
			display: flex;
			align-items: center;
			flex-direction: column;
			flex-wrap: nowrap;
			padding: 0;
			margin: 0 auto;
			overflow-y: auto;

			.nav-link {
				padding: 0.25rem;
			}

			.sidebar-item-button.active {
				&.logo-item {
					background-color: inherit;
					border-color: 4px solid var(--highlighted-bg-color);
					&:hover {
						background-color: inherit;
					}
				}
				background-color: $highlighted-bg-color;
				.sidebar-item-icon, .sidebar-item-name {
					color: $reversed-text-color;

				}
			}
			.sidebar-item-button.active:hover {
				background-color: $highlighted-bg-color;
				border: 2px solid $highlighted-bg-color;
			}
			.sidebar-item-button {
				display: flex;
				align-items: center;
				padding: 0.5rem;
				height: $sidebar-item-height;
				width: $sidebar-item-width;
				border-radius: $sidebar-item-radius;
				border: 2px solid transparent;
				color: $highlighted-text-color !important;
				background-color: transparent;
				border-color: transparent;
				font-weight: $highlighted-font-weight;
				.sidebar-item-icon {
					font-weight: $highlighted-font-weight;
					font-size: $sidebar-item-font-size;
				}
				.sidebar-item-name {
					width: 75%;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					text-align: left;
					font-size: $sidebar-item-font-size;
				}
				.sidebar-item-icon, .sidebar-item-name {
					color: inherit;
				}
			}
			.nav-item {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			.sidebar-item-button:hover {
				cursor: pointer;
				background-color: $bg-color;
				border: 2px solid $border-color;
			}
			.sidebar-item-button:focus {
				outline: none;
				box-shadow: none;
			}
		}
		.nav-children {
			width: $sidebar-item-width;
			border-radius: $sidebar-item-radius;
			background-color: $bg-color;
			.nav-link {
				height: $sidebar-item-height;
				padding: 0;
			}
			.sidebar-item-button:hover {
				cursor: pointer;
				background-color: $bg-color;
			}
		}
	}

	.sidebar-brand-image, .sidebar-brand-image {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		height: 55px;
		width: 100%;
		padding: 0;
		margin-top: 0.25rem;
	}

	.sidebar-bottom {
		height: $sidebar-item-height;
		margin-bottom: 1rem;
		.nav-link {
			width: $sidebar-item-width;
			display: flex;
			justify-content: center;
			button {
				&.left {
					width: 75%;
					border-radius: $sidebar-item-radius 0 0 $sidebar-item-radius;
				}
				&.right {
					width: 25%;
					border-radius: 0 $sidebar-item-radius $sidebar-item-radius 0;
				}
			}
			&.disabled {
				opacity: .65;
			}
		}
	}

	&.collapsed {
		width: $collapsed-sidebar-width;
		margin-right: 0;
		.nav-item {
			width: $collapsed-sidebar-width;
			display: flex;
			flex-direction: column;
			justify-content: center;
			.nav-link {
				justify-content: center;
				width: $collapsed-sidebar-item-width;
				padding: 0.25rem 0;
				.sidebar-item-name {
					display: none;
				}
				.sidebar-item-icon {
					width: 100%;
				}
				.sidebar-item-button {
					width: $collapsed-sidebar-item-width;
				}
			}
			.show .nav-children {
				margin: 0;
				.nav-link {
					padding: 0;
				}
			}
			.nav-children {
				width: $collapsed-sidebar-item-width;
				margin-left: 5px;
				.sidebar-item {
					width: $collapsed-sidebar-item-width;
				}
			}
			.collapsing {
				padding: 0;
				margin: 0;
				margin-left: -5px;
				.nav-item .nav-link .sidebar-item-button {
					margin-top: -4px;
					padding: 0;
					display: flex;
					align-items: center;
				}
			}
		}
		.sidebar-bottom {
			height: auto;
			.nav-link {
				width: $collapsed-sidebar-item-width;
				display: block !important;
				button {
					&.left {
						border-radius: $sidebar-item-radius;
					}
					&.right {
						border-radius: $sidebar-item-radius;
						i {
							margin: auto!important;
							transform: rotate(180deg);
						}
					}
				}
			}
		}
	}
}

.modal {
	.modal-dialog.left {
		position: fixed;
		margin: auto;
		width: 200px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		-ms-transform: translate3d(0%, 0, 0);
		-o-transform: translate3d(0%, 0, 0);
		transform: translate3d(0%, 0, 0);
		.modal-content {
			height: 100%;
		}
		.modal-body {
			padding: 15px 15px 80px;
		}
	}

	.modal-content {
		display: block;
		overflow: hidden;
	}

	/*Left*/
	&.fade {
		.modal-dialog.left {
			left: -200px;
			-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
			-moz-transition: opacity 0.3s linear, left 0.3s ease-out;
			-o-transition: opacity 0.3s linear, left 0.3s ease-out;
			transition: opacity 0.3s linear, left 0.3s ease-out;
		}
	}
	&.fade.show {
		.modal-dialog.left {
			left: 0;
		}
	}
}

@media screen and (max-width: 768px) {
	.app-sidebar {
		.sidebar-item-button {
			&.mobile-collapsed {
				display: none;
			}
		}
	}
	.app-sidebar {
		.sidebar-nav {
			.nav {
				.sidebar-item-button {
					&.mobile-collapsed {
						display: none;
					}
					&.mobile-full-btn {
						border-radius: 12px;
					}
				}
			}
		}
	}
}


@media screen and (max-width: 800px) {
	.mobile-sidebar-burger {
		color: $toggle-text-color;
		visibility: visible;
		font-size: 1.5rem;
		margin-left: auto !important;
		cursor: pointer;
		position: relative;

		& [class^="cil-"] {
			position: absolute;
			top: 20px;
			left: 24px;
			z-index: 100;
		}
	}

	.app-sidebar {
		.sidebar-nav {
			.sidebar-bottom {
				.nav {
					.sidebar-item-button {
						&.mobile-full-btn {
							width: 150px;
						}
					}
				}
			}
		}
	}
}
