:root[data-theme="light"] {
	--table-bg-color-hover: #F9FAFF;
    --disabled-row-text-color: var(--off-white);
    --disabled-row-background-color: #f8f9fa;
}	
:root[data-theme="dark"] {
	--table-bg-color-hover: #0A1940;
    --disabled-row-text-color: var(--feather-gray);
    --disabled-row-background-color: #232733;
}

$table-bg-color-hover: var(--table-bg-color-hover);
$disabled-row-text-color: var(--disabled-row-text-color);
$disabled-row-background-color: var(--disabled-row-background-color);

table {
    color: $text-color;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    text-align: left;
    // border-top: 1px solid $border-color;
    & th:first-child {
        padding-left: 1rem;
    }
    &.bg-light {
        color: $disabled-row-text-color;
        background-color: $disabled-row-background-color !important;
        & th, td {
            color: $disabled-row-text-color !important;
        }
    }
}

.bg-light {
    color: $disabled-row-text-color !important;
    background-color: $disabled-row-background-color !important;}


th {
    color: $text-secondary-color !important
}

th, td {
    height: 48px;
    border: none;
    padding: 0.7rem;
    font-weight: inherit;
}

thead {
    font-weight: bold;
}

tbody {
    background-color: $bg-color-dark;
    tr {
        border-top: 1px solid $border-color;
    }
}

.table td, .table th {
    border-top: 0;
}

.table thead th {
    border-bottom: 0;
}

.table .thead-light th {
    background-color: transparent;
}

.table-hover tbody tr:hover, tbody tr:hover {
    color: $text-color;
    background-color: $table-bg-color-hover;
}
