:root[data-theme="light"] {
	--table-bg-color-hover: #F9FAFF;
}	
:root[data-theme="dark"] {
	--table-bg-color-hover: #0A1940;
}

$table-bg-color-hover: var(--table-bg-color-hover);

table {
    color: $text-color;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    text-align: left;
    // border-top: 1px solid $border-color;
    & th:first-child {
        padding-left: 1rem;
    }
}

th {
    color: $text-secondary-color
}

th, td {
    height: 48px;
    border: none;
    padding: 0.7rem;
    font-weight: inherit;
}

thead {
    font-weight: bold;
}

tbody {
    background-color: $bg-color-dark;
    tr {
        border-top: 1px solid $border-color;
    }
}

.table td, .table th {
    border-top: 0;
}

.table thead th {
    border-bottom: 0;
}

.table-hover tbody tr:hover, tbody tr:hover {
    color: $text-color;
    background-color: $table-bg-color-hover;
}
