.tree-menu {
	height: 100%;
	overflow-y: auto;
	padding: 1rem;
	background-color: $bg-color-darker;
	color: $text-color;
	border-radius: 8px;

	ul {
		list-style-type: none;
	}

	.tree-menu-item, .tree-menu-item:active, .tree-menu-item:hover {
		cursor: pointer;
		position: relative;
		padding: .5rem;
		border-bottom: 1px solid $border-color;
		margin-bottom: 0 !important;
		overflow-wrap: break-word;
		border-color: rgba(0, 0, 0, 0.125) !important;

		&.selected {
			background-color: $highlighted-bg-color;
			color: $reversed-text-color;
			box-shadow:  0 0 5px 0 #222;
			font-weight: 500;
			z-index: 999;
		}

		&.disabled {
			color: #6a6a6a8f;
			background-color: inherit;
		}
	}

	.btn {
		border-radius: 2px 0 0 2px;
	}
}
