:root {
	--white: #FFFFFF;
	--white-night: #DBEEFF;
	--off-white: #757575;
	--light-gray: rgba(0, 0, 0, 0.1);
	--gray: #F3F4FA;
	--dark-gray: #DDE1F8;
	--darker-gray: rgba(0, 0, 0, 0.05);
	--feather-gray: #6A6A6A;
	--beige-gray: rgba(142, 142, 142, 0.2);
	--black: #0E1426;
	--dark-black: #000000;
	--light-black: #19223F;
	--lightest-black: #24366D;
	--light-blue: #B6C1E3;
	--blue: #31B7E3;
	--dark-blue: #315EE3;
	--night-blue: #7A9CFF;
	--storm-blue: #2A3A6A;
	--dream-blue: #131C37;
	--light-dream-blue: #788DCB;
	--violet: #7A9CFF;
	--dark-violet: #2E3AC5;
	--light-violet: #E6E9FB;
	--wandering-violet: #87A5FF;
	--pink: #FFADCA;
	--dark--pink: #D1004A;
	--red: #FA4D56;
	--dark-red: #E33132;
	--green: #48b063;
	--light-green: #A7F0BA;
	--dark-green: #0E6027;
	--yellow: #F4B719;
	--dark-yellow: #E3B631;
	--disabled-gray: #73818f;
}
