@import "./light-mode.scss";
@import "./dark-mode.scss";

$primary: var(--primary);
$secondary: var(--dark-gray);
$success: var(--green);
$danger: var(--red);
$warning: var(--yellow);
$info: var(--blue);
$light: var(--gray);
$dark: var(--black);
$white-night: var(--white-night);
$white: var(--white);
$gray: var(--gray);
$dark-gray: var(--dark-gray);

$bg-color: var(--bg-color);
$bg-color-dark: var(--bg-color-dark);
$border-color: var(--border-color);

$text-color: var(--text-color);
$reversed-text-color: var(--reversed-text-color);
$highlighted-text-color: var(--highlighted-text-color);
$highlighted-bg-color: var(--highlighted-bg-color);

$header-bg: var(--bg-color-dark);
$body-bg: var(--bg-color-dark);
$sidebar-bg: var(--bg-color-dark);
$breadcrumb-bg: var(--bg-color-dark);

// Cards
$card-border-color: var(--border-color);
$card-cap-bg: var(--bg-color);

// Error Handler
$error-handler-stack-bg: var(--dark-black);
