@import "./colors.scss";

html[data-theme="theme-light"] {
	--primary: var(--dark-blue);
	--secondary: var(--dark-gray);
	--success: var(--green);
	--danger: var(--red);
	--warning: var(--yellow);
	--info: var(--blue);
	--light: var(--gray);
	--dark: var(--black);

	--bg-color: var(--white);
	--bg-color-dark: var(--gray);
	--bg-color-darker: var(--darker-gray);
	--border-color: var(--dark-gray);

	--text-color: var(--dark-black);
	--reversed-text-color: var(--white);
	--highlighted-text-color: var(--dark-blue);
	--highlighted-bg-color: var(--dark-blue);

	--btn-bg-primary: var(--dark-blue);
	// --btn-primary-hover: var(--light-violet);
	--btn-txt: var(--white);
	--btn-secondary-txt: var(--dark-violet);
	--btn-hover: var(--light-violet);
	--btn-txt-hover: var(--dark-violet);

	--input-bg: var(--white);
	--input-border: var(--light-black);
	--input-text: var(--feather-gray);
	
}
