@import './constants';

* {
	box-sizing: border-box;
}

html[data-theme="light"] {
	color-scheme: light;
}

html[data-theme="dark"] {
	color-scheme: dark;
}

html {
	body {
		margin: 0;	
		text-align: left;

		font-family: "Verdana", sans-serif;
		line-height: 1.5;
		font-size: 0.875rem;
		font-weight: 400;

		color: $text-color;
		background-color: $body-bg;

		p, span, h1, h2, h3, h4, h5, h6, div {
			color: $text-color;
		}
		a {
			color: $link-color;
			&:hover {
				color: $primary
			}
		}
		
		.react-json-view {
			background-color: inherit !important;
			p, span, h1, h2, h3, h4, h5, h6 {
				color: inherit;
			}
		}
	}
}

hr {
	background-color: $border-color;
}

code {
	line-height: 1.5;
	font-size: 0.875rem;
	font-weight: 400;
	color: $text-code-highlight;
}

.table {
	color: $text-color;
}

.text-primary {
	color: $primary !important;
}

.app {
	display: flex;
	min-height: 100vh;
}

.app-body {
	overflow-x: hidden;
	width: 100%;
	margin: 0 0 0 100px;
	margin-left: 1rem;
	min-height: 100vh;
}

.networking-indicator {
	position: fixed;
	z-index: 2000;

	width: 100%;
	height: 5px;
}

.alerts {
	position: fixed;
	z-index: 1500;
	top: 40px;
	
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

// Progress Bar
.fade {
	transition: opacity 0.15s linear;
}

.fade:not(.show) {
	opacity: 0;
}

.progress-bar-animated {
	animation: 1s linear infinite progress-bar-stripes;
}

.progress-bar-striped {
	background-image: linear-gradient(
		45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%,
		rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent
	);
	background-size: 1rem 1rem;
}

.progress-bar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;

	color: $dark;
	background-color: $primary;

	text-align: center;
	white-space: nowrap;

	transition: width 0.6s ease;
}

.hidden {
	display: none;
}

.without-sidebar {
	margin-left: 0;
	.main.padding-small-screens {
		margin-right: 0;
	}
}

@media screen and (max-width: 768px) {
	.header-sidebar-wrapper {
		overflow-x: hidden;
		.app-body {
			overflow-x: visible;
			margin-left: 0;
			.main {
				margin-left: 1rem !important;
			}
		}
	}
}
@media screen and (max-width: 768px) {
	.header-sidebar-wrapper {
		.padding-small-screens {
			//padding-top: 3rem!important;
		}
		.app-body.without-sidebar {
			.main.padding-small-screens {
				padding-top: 0 !important;
			}
		}

	}
}

/* Import styles */

// Import default bootstrap styles
@import '~bootstrap/dist/css/bootstrap.min.css';

// CoreUI Icons Set
@import '~@coreui/icons/css/all.css';

// Override with custom color styles
@import './components';
