@import './constants';


* {
	box-sizing: border-box;
}

html[data-theme="theme-light"] {
	color-scheme: light;
}

html[data-theme="theme-dark"] {
	color-scheme: dark;
}

html {
	font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	p, span, h1, h2, h3, h4, h5, h6 {
		color: $text-color;
	}

	hr {
		background-color: $border-color;
	}

	body {
		margin: 0;
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
		font-size: 0.875rem;
		font-weight: 400;
		line-height: 1.5;
		color: #23282c;
		text-align: left;
		background-color: $body-bg;
	}
}

.text-primary {
	color: $primary !important;
}

.app {
	display: flex;
    min-height: 100vh;
}

.app-body {
	overflow-x: hidden;
	width: 100%;
	margin: 0 0 0 100px;
	margin-left: 1rem;
	min-height: 100vh;
}

.networking-indicator {
	position: fixed;
	z-index: 2000;

	width: 100%;
	height: 5px;
}

.alerts {
	position: fixed;
	z-index: 1500;
	top: 40px;
	
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

// Progress Bar
.fade {
    transition: opacity 0.15s linear;
}

.fade:not(.show) {
    opacity: 0;
}

.progress-bar-animated {
    animation: 1s linear infinite progress-bar-stripes;
}

.progress-bar-striped {
    background-image: linear-gradient(
		45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%,
		rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent
	);
    background-size: 1rem 1rem;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #20a8d8;
    transition: width 0.6s ease;
}

.hidden {
	display: none;
}

/* Import styles */

// Temp fix for reactstrap
@import '~@coreui/coreui/scss/_dropdown-menu-right.scss';
// Import default bootstrap styles
@import '~bootstrap/dist/css/bootstrap.min.css';
// CoreUI Icons Set
@import '~@coreui/icons/css/all.css';
// Override with custom color styles
@import './components';