.alerts-style {
	button {
		span {
			color: inherit !important;
		}
	}
	.alert-button {
		font-weight: bold;
		cursor: pointer;
		pointer-events: visible !important;
		margin-left: 20px;
	}
}

.session-expiration-alert {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1.25rem;
	filter: opacity(100%);
}

