@import "~asab-webui/styles/constants/index.scss";

.alerts-style {
	button {
		span {
			color: inherit !important;
		}
	}
	.alert-button {
		color: $white !important;
	}
}

.alert {
	margin-bottom: 1rem;
	padding: 0.75rem 1.25rem;
	position: relative;
}

.close {
	float: right;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
	opacity: .5;
	text-shadow: 0 1px 0 #fff;
}

.alert-dismissible .close {
	color: inherit !important;
	padding: 0.75rem 1.25rem;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}

button.close {
	background-color: transparent;
	border: 0;
}

.session-expiration-alert {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1.25rem;
}

