.access-control-container {
	.card-header {
		.card-header-title {
			margin: auto;
			font-size: 1.5rem;
		}
	}
}

.logout-wrapper {
	display: inline-block;
	position: absolute;
	width: 100%;
}

.logout-card {
	width: fit-content;
	margin: 0 auto;
	float: none;
	margin-top: 5%;
	margin-bottom: -15% !important;
	background-color: var(--white);
	word-wrap: break-word;
	background-clip: border-box;
	display: flex;
	flex-direction: column;
	min-width: 0;
	position: relative;
	z-index: 1;

	border: 1px solid var(--dark-gray);
	border-radius: 8px;
	box-shadow: 0 1px 20px -4px rgba(206, 211, 243, 0.5);

	.logout-card-header {
		background-color: var(--white);
		border-bottom: none;
		border-radius: 8px 8px 0 0;
		box-sizing: content-box;
		color: var(--text-color);
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		min-height: 50px;
		padding: 0;
		margin-bottom: 0;

		.logout-card-header-title {
			align-items: center;
			color: var(--text-secondary-color);
			display: flex;
			font-size: 1rem;
			font-style: normal;
			font-weight: 500;
			line-height: 50px;
			margin: auto 1.25rem;
			min-height: 50px;
		}
	}

	.logout-card-footer {
		align-items: center;
		background-color: var(--white);
		border-radius: 0 0 8px 8px;
		border-top: none;
		color: var(--text-color);
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		min-height: 50px;
		padding: 0;

		.logout-btn {
			border-radius: 0 0 0 7px;
			border: 0;
			font-weight: 500;
			min-height: 50px;
			padding: 0.75em 1.5em;
			transition: none;
			color: var(--white);
			cursor: pointer;
			font-size: 1rem;
			line-height: 1.5;
		}

		.logout-btn-primary {
			background-color: var(--dark-blue);
		}
	}
}