// Switch styles

.switch-container, .switch-container-disabled {
	width: 40px;
	height: 20px;
	border: 1px solid black;
	display: inline-block;
	border-radius: 50px;
	cursor: pointer;

	* {
		border-radius: 50px;
		transition: background-color .2s ease-out, margin .1s;
		height: 100%;
	}

	.on, .off {
		position: relative;
		width: 100%;
		display: inline-block;

		.circle {
			width: 50%;
		}
	}
}

.switch-container {
	.circle {
		background-color: white;
		width: 50%;
	}

	.on {
		background-color: #20a8d8;
		.circle {
			margin-left: 19px;
			border: 2px solid #20a8d8;
		}
	}

	.off {
		background-color: #c8ced3;
		.circle {
			margin-left: 0px;
			border: 2px solid #c8ced3;
		}
	}
}

.switch-container-disabled {
	.off, .on {
		background-color: #c8ced3;
	}
	.circle {
		background-color: #73818f;
		border: 2px solid #c8ced3;
	}
}
