// Switch styles

.switch-container {
	width: 40px;
	height: 20px;
	border: 1px solid black;
	display: inline-block;
	border-radius: 50px;
	cursor: pointer;

	* {
		border-radius: 50px;
		transition: background-color .2s ease-out, margin .1s;
		height: 100%;
	}

	.on, .off {
		position: relative;
		width: 100%;
		display: inline-block;

		.circle {
			background-color: white;
			width: 50%;
		}
	}

	.on {
		background-color: rgb(45, 158, 252);
		.circle {
			margin-left: 19px;
			border: 2px solid rgb(45, 158, 252);
		}
	}

	.off {
		background-color: rgb(114, 114, 114);
		.circle {
			margin-left: 0px;
			border: 2px solid rgb(114, 114, 114);
		}
	}

}