// Switch styles

<<<<<<< HEAD
.switch-container, .switch-container-disabled {
	width: 40px;
	height: 20px;
	border: 1px solid #6c757d;
=======
.switch-container {
	width: 40px;
	height: 20px;
	border: 1px solid black;
>>>>>>> 576d698 (implement controlled switch)
	display: inline-block;
	border-radius: 50px;
	cursor: pointer;

	* {
		border-radius: 50px;
		transition: background-color .2s ease-out, margin .1s;
		height: 100%;
	}

	.on, .off {
		position: relative;
		width: 100%;
		display: inline-block;

		.circle {
<<<<<<< HEAD
			width: 50%;
		}
	}
	.on {
		.circle {
			margin-left: 19px;
		}
	}
	.off {
		.circle {
			margin-left: 0px;
		}
	}
}

.switch-container {
	.circle {
		background-color: white;
	}

	.on {
		background-color: #20a8d8;
		.circle {
			border: 2px solid #20a8d8;
=======
			background-color: white;
			width: 50%
		}
	}

	.on {
		background-color: rgb(45, 158, 252);
		.circle {
			margin-left: 19px;
>>>>>>> 576d698 (implement controlled switch)
		}
	}

	.off {
<<<<<<< HEAD
		background-color: #c8ced3;
		.circle {
			border: 2px solid #c8ced3;
		}
	}
}

.switch-container-disabled {
	.off, .on {
		background-color: #c8ced3;
	}
	.circle {
		background-color: #73818f;
		border: 2px solid #c8ced3;
	}
}
=======
		background-color: rgb(114, 114, 114);
		.circle {
			margin-left: 0px;
		}
	}

}
>>>>>>> 576d698 (implement controlled switch)
