@import "~asab-webui/styles/constants/index.scss";

:root[data-theme="light"] {
	--bg: var(--bg-color);
	--text-button-color: var(--text-color);
}

:root[data-theme="dark"] {
	--bg: var(--light-blue);
	--text-button-color: var(--btn-txt);
}

$button-bg: var(--bg);
$text-button-color: var(--text-button-color);

.config-container {
	height: 100%;

	.card-editor-layout {
		height: 100%;
		width: 100%;

		form {
			height: 100%;
			display: flex;
			flex-direction: column;
		}
	}

	.card-editor-body {
		height: 100% !important;
		overflow: scroll !important;
		overflow-x: hidden !important;
	}

	/* ConfigList DataTable */
	.config-list-dt {
		height: 100%;
		.row {
			height: 100%;
			.card, .col {
				height: 100%;
			}
			.card-body {
				overflow: scroll;
			}
		}
	}

	/*Config Editor*/
	.pattern-section-dropdown {
		max-height: 400px;
		overflow-y: auto;
	}

	.hidden-file-input {
		display: none;
	}

	.file-input {
		overflow: hidden;
		display: flex;
		flex-wrap: wrap;
		flex: 1 5;
		input {
			cursor: pointer;
			&:focus {
				box-shadow: none;
				border-color: #ced4da;
			}
		}
		.input-group-text {
			cursor: pointer;
			border-radius: 5px 0 0 5px;
			border-right: none;
		}
	}

	.input-group-text {

		.show > .dropdown-toggle, .dropdown-toggle, .dropdown-toggle:active {
			border: 1px solid $border-color;
			border-right: none;
		}

		.dropdown-toggle {
			background-color: $button-bg !important;
			color: $text-button-color !important;
			&:active {
				background-color: var(--btn-secondary-bg-color) !important;
				color: var(--btn-txt) !important;
			}
		}
	}

	.dropdown-export-item, .dropdown-export-item:hover {
		text-decoration: none;
	}
}

