.networking-indicator {
	position: absolute;
	z-index: 1400;
	top: 50px;

	width: 100%;
	height: 5px;
}

.alerts {
	position: absolute;
	z-index: 1500;
	top: 40px;
	
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

// Add a vertical space for a standard screen layout
main > .container-fluid, main > .container {
	margin-top: 1rem; // basically mt-3
}

// We are in control of the vertical space
.breadcrumb {
	margin: 0 !important;
}
