html {
	font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	body {
		margin: 0;
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
		font-size: 0.875rem;
		font-weight: 400;
		line-height: 1.5;
		color: #23282c;
		text-align: left;
		background-color: #e4e5e6;
	}
}

.app {
	display: flex;
    flex-direction: column;
    min-height: 100vh;
}

* {
	box-sizing: border-box;
}

.app-body {
	margin-top: 55px;
	display: flex;
    flex-direction: row;
    flex-grow: 1;
	overflow-x: hidden;
	border-top: 1px solid #c8ced4; 
}

.main, .main-with-sidebar, .main-with-sidebar-minimized {
	transition: margin-left 0.25s ease-out;
	flex: 1;
	min-width: 0;
}

@media screen and (max-width: 768px) {
	.main, .main-with-sidebar, .main-with-sidebar-minimized {
		margin-left: 0px !important;
	}

	.stop-propagation-container {
		height: calc(100% + 50px);
		width: 100%;
		position: absolute;
		top: 55px;
		background-color: rgba(0,0,0,0.5);
		overflow-y: hidden;
		z-index: 999;
	}
}

.main-with-sidebar {
	margin-left: 200px;
}

.main-with-sidebar-minimized {
	margin-left: 50px;
}

.networking-indicator {
	position: fixed;
	z-index: 1400;
	top: 50px;

	width: 100%;
	height: 5px;
}

.alerts {
	position: fixed;
	z-index: 1500;
	top: 40px;
	
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

// Add a vertical space for a standard screen layout
main > .container-fluid, main > .container {
	margin-top: 1rem; // basically mt-3
}

// We are in control of the vertical space
.breadcrumb {
	margin: 0 !important;
}

// Progress Bar

.fade {
    transition: opacity 0.15s linear;
}

.fade:not(.show) {
    opacity: 0;
}

.progress-bar-animated {
    animation: 1s linear infinite progress-bar-stripes;
}

.progress-bar-striped {
    background-image: linear-gradient(
		45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%,
		rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent
	);
    background-size: 1rem 1rem;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #20a8d8;
    transition: width 0.6s ease;
}

// Header
.application-header {
	position: fixed;
	z-index: 1020;
	width: 100%;
	display: flex;
	flex: 0 0 55px;
	flex-direction: row;
	height: 55px;
	padding: 0;
	margin: 0;
	background-color: #fff;

	.header-brand-image-full, .header-brand-image-minimized {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		height: 55px;
		padding: 0;
		margin: 0;
	}

	.header-brand-image-full {
		width: 155px;
		.full-image {
			display: block;
		}
		.minimized-image {
			display: none;
		}
	}

	.header-brand-image-minimized {
		width: 55px;
		.full-image {
			display: none;
		}
		.minimized-image {
			display: block;
		}
	}

	.navbar-nav {
		flex-direction: row;
		align-items: center;
	}

	.header-sidebar-toggler {
		display: inline-flex;
		align-items: center;
		font-size: 1.5rem;
		cursor: pointer;
	}
}


@media screen and (max-width: 991.99px) {
	.application-header {
		text-align: center;
		.header-brand-image-full, .header-brand-image-minimized {
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -77.5px;
			.full-image {
				display: block;
			}
			.minimized-image {
				display: none;
			}
		}
		.header-brand-image-minimized {
			margin-left: -27.5px;
		}
	}

	.header-sidebar-toggler {
		padding: 0 1rem;
	}
}

// header-props

.header-props {
	display: none;
	&-sm {
		display: none;
	}
	&-toggler {
		display: none;
	}
}

@media (max-width: 800px) {
	.header-props-toggler{
		display: inline-flex;
		align-items: center;
		font-size: 1.5rem;
		margin-left: auto !important;
		transform: rotate(0deg);
		transition: transform 0.25s ease;
		  &.header-props-open{
			transform: rotate(180deg);
			transition: transform 0.25s ease;
		  }
	}
	.header-props {
		display: none !important;
		&-sm {
			display: flex;
			justify-content: right;
			margin-left: auto !important;
		}
	}
	.header-props-open + .app-body {
		margin-top: 103px;
		height: calc(100vh - 155px) !important;

	}
	.header-props-open + .app-body > .sidebar-bottom {
		margin-bottom: 55px;
	}
	.header-props-open + .app-body .app-sidebar,
	.header-props-open + .app-body .app-sidebar-minimized,
	.header-props-open + .app-body .app-sidebar-minimized-closed {
		height: calc(100vh - 103px) !important;
	}
}

@media (max-width: 600px) {
	.header-props-sm {
		justify-content: center;
	}
}

.hidden {
	display: none;
}

// Sidebar

@media screen and (max-width: 768px) {
	.app-sidebar-minimized, .app-sidebar-minimized.closed {
		margin-left: -50px;
	}
	.app-sidebar, .app-sidebar.closed {
		margin-left: -200px !important;
	}

	.app-sidebar.small-screen.closed, .app-sidebar.closed.small-screen.closed {
		margin-left: -200px !important;
	}
	.app-sidebar.small-screen, .app-sidebar.closed.small-screen {
		margin-left: 0 !important;
	}
}

.app-sidebar.small-screen, .app-sidebar.closed.small-screen {
	margin-left: -200px;
}

.app-sidebar-minimized, .app-sidebar-minimized.closed {
	width: 50px;
	.sidebar-item-text, .sidebar-chevron, .sidebar-chevron-open {
		display: none !important;
	}
	.nav-link {
		margin: auto !important;
		padding-left: 1rem !important; 
		.sidebar-item-icon {
			font-size: 1rem;
		}
	}

	.sidebar-bottom {
		display: block;
		.nav {
			height: 50px;
			width: 100%;
			border-bottom: 1px solid #464b50;
		}
		.sidebar-minimize-button {
			height: 50px;
			width: 100%
			i {
				transform: rotate(-180deg);
				transition: transform .1s ease-in-out;
			}
		}
	}
}

.app-sidebar-minimized.closed {
	margin-left: -50px;
}

.app-sidebar {
	margin-left: 0;
	width: 200px;
}

.app-sidebar, .app-sidebar.closed {
	.sidebar-bottom {
		height: 50px;
		ul.nav {
			display: inline-block;
			width: 75%;
			height: 50px;
			border-right: 1px solid #464b50;
		}

		.sidebar-minimize-button {
			display: inline-block;
			width: 25%;
			height: 50px;
		}
	}
}

.app-sidebar.closed {
	margin-left: -200px;
	width: 200px;
}

.app-sidebar, .app-sidebar.closed, .app-sidebar-minimized, .app-sidebar-minimized.closed {
	transition: margin-left 0.25s ease-out, width .2s ease-out;
	height: calc(100vh - 55px);
	position: fixed;
	z-index: 1019;
	display: flex;
	padding: 0;
	color: #fff;
	background-color: #2f353a;
	flex: 0 0 200px;
	order: -1;
	.sidebar-dropdown-open {
		background-color: rgba(0,0,0,.2);
	}
	.sidebar-dropdown {
		.sidebar-chevron, .sidebar-chevron-open {
			font-size: 0.5rem;
			margin: 0.3rem;
			float: right;
			.sidebar-item-icon {
				margin: 0;
				font-weight: 700;
				transition: transform .1s ease-in-out;
			}
		}
		.sidebar-chevron-open {
			.sidebar-item-icon {
				transform: rotate(-90deg);
			}
		}
	}
	.sidebar-nav {
		position: relative;
		flex: 1;
		width: 200px;
		overflow: hidden;
		touch-action: auto;
		overflow-anchor: none;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.nav {
			width: 200px;
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			padding: 0;
			margin: 0 auto;
			overflow-y: auto;
			transition: width .25s ease-in-out;
			.nav-item {
				position: relative;
				margin: 0;
				.nav-link {
					padding: 0.75rem 1rem;
					color: #fff;
					.inner-link-container {
						display: flex;
						justify-content: space-between;
						align-items: center;
						flex-wrap: nowrap;
						overflow-x: hidden;
					}
					.sidebar-item-icon {
						display: inline-block;
						width: 1rem;
						margin: 0 0.5rem 0 0;
						color: #73818f;
						text-align: center;
					}
				}

				.nav-link:hover {
					cursor: pointer;
					color: #fff;
					background: #20a8d8;
					.sidebar-item-icon {
						color: #fff;
					}
				}

				.active {
					color: #fff;
					background-color: #3a4248;
					.sidebar-item-icon {
						color: #20a8d8;
					}
					.sidebar-item-icon {
						color: #20a8d8;
					}
				}

				.nav-children {
					transition: width 0s;
					overflow: hidden;
				}
			}
		}
	}
	.sidebar-bottom {
		.nav {
			background-color: rgba(0, 0, 0, 0.3);
			overflow: hidden;
			.nav-item {
				overflow: hidden;
				.active {
					background-color: #20a8d8;
					span, .sidebar-item-icon {
						color: #fff !important;
					}
				}
				.nav-link {
					overflow: hidden;
					color: #fff;
					height: 50px;
					.sidebar-item-icon {
						color: #464b50;
					}
				}
			}
		}
		.nav:hover {
			.nav-item {
				.active {
					background-color: #24b3e7;
					.sidebar-item-icon {
						color: #464b50 !important;
					}
				}
				.nav-link {
					background-color: rgba(0, 0, 0, 0.4);
					.sidebar-item-icon {
						color: #464b50;
					}
				}
			}
		}

		.sidebar-minimize-button {
			background-color: rgba(0, 0, 0, 0.3);
			cursor: pointer;
			font-size: 1.5rem;
			color: #464b50;
			i { 
				position: relative;
				top: 25%;
				float: right;
				margin-right: 1rem;
			}
		}
		.sidebar-minimize-button:hover {
			background-color: rgba(0, 0, 0, 0.4);
		}
	}
}

// Footer
@media screen and (max-width: 768px) {
	.application-footer, .application-footer-with-sidebar,
	.application-footer-with-sidebar-minimized {
		margin-left: 0px !important;
	}
}

.application-footer, .application-footer-with-sidebar,
.application-footer-with-sidebar-minimized {
	display: flex;
	flex: 0 0 50px;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 1rem;
    color: #23282c;
    background: #f0f3f5;
    border-top: 1px solid #c8ced3;
	transition: margin-left 0.25s ease-out;
}

.application-footer-with-sidebar {
	margin-left: 200px;
}

.application-footer-with-sidebar-minimized {
	margin-left: 50px;
}

// Breadcrumbs
.breadcrumbs {
	display: block;
	background-color: #fff;
}

// Import styles
@import "~@coreui/coreui/scss/coreui.scss";
// Temp fix for reactstrap
@import '~@coreui/coreui/scss/_dropdown-menu-right.scss';
// Import default bootstrap styles
@import '~bootstrap/dist/css/bootstrap.min.css';
// CoreUI Icons Set
@import '~@coreui/icons/css/all.css';
